.App {
  text-align: center;
}

.App-logo {
  
position: fixed;
  bottom:0;
  left:0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}




.hover-right {
  position: fixed;
  bottom:0;
  right:0;
  width: 47%;
  height: 30%;
  color: red;
  font-size: 15vh;

  padding-right: 10%;
}

.hover-left {
  padding-left: %;
position: fixed;
  bottom:0;
  left:0;
  width: 43%;
  height: 30%;
  font-size: 15vh;
  color: green;
}

.App-link {
  color: #61dafb;
}
